 /* font-family: bebas-neue-v14-deprecated,sans-serif; */
 /* colors:
    #4cbc8c
    #ed9a99
    #fece8a
    #a5a4a4
    #21704f
    #bd3f40 
    */

/* resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

html {
    font-size: 62.5%;
}


@font-face {
  font-family: 'avenir';
  src: url('../assets/fonts/Avenir.ttc'); 
}

@font-face {
  font-family: 'avenirBlack';
  src: url('../assets/fonts/Avenir.ttc'); 
}

@font-face {
  font-family: 'regina';
  src: url('../assets/fonts/ReginaBlack-Solid.ttf');
}

body {
    width: 100%;
    height: 100%;
    font-family: 'avenir', sans-serif;
    font-size: 1.3rem;
}

.row {
    margin: 0;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem;
}

a {
    font-size: 2rem;
    font-family: bebas-neue-by-fontfabric,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-weight: light;
    color: white;
    position: relative;
    padding-bottom: 5px;
}


header {
    height: 9rem;
    position: fixed;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
    z-index: 2;
}

#logo {
    font-size: 4rem;
    color: #fece8a;
    font-family: 'regina';
}

#logo:after {
    border: none;
}

nav {
    width: 18rem;
    display: flex;
    justify-content: space-between;
}

.linkA {
    color: white;
    border-bottom: 2px solid white;
}

.linkB {
    color:    #fece8a;
    border-bottom: 2px solid #fece8a;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section > h3 {
    padding-top: 10rem;
}

h2 {
    font-family: bebas-neue-v14-deprecated,sans-serif;
    font-size: 10rem;
    letter-spacing: 3px;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 5rem;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 1rem solid #21704f;
}

h3 {
    font-size: 2rem;
    color: #4cbc8c;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'regina', serif;
    font-weight: bold;
}

h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'avenir black';
}

h5 {
    color: #DA9997;
    font-size: 1.3rem;
    font-family: 'avenir black', sans-serif;
    text-transform: uppercase;
    margin: 2rem auto;
    font-weight: 900;
    letter-spacing: 3px;
}

p {
    margin: 2rem auto;
}

.animation {
    width: 82%;
    align-self: flex-end;
    margin-right: 7rem;
    margin-bottom: 10rem;
}

.animation_mobile {
    display: none;
}

.intro {
    background-color:  #4cbc8c;
    color: #21704f;
    position: relative;
}

.intro p, .workshops p {
    margin: 1rem 0 2rem 0;
    max-width: 38rem;
    font-size: 1.5rem;
}

.intro_btns {
    width: 35rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.more.linkB {
    align-self: center;
    position: absolute;
    bottom: 2rem;
    margin-bottom: 2.5rem;
}

/* about section styles */

.about, .workshops {
    text-align: center;
    padding-bottom: 10rem;
}

.about p {
    line-height: 2.7rem;
}

.about > p, .workshops > p {
    width: 48rem;
    margin: 5rem auto;
}

.about a {
    color: #4cbc8c;
    border-bottom: 2px solid #4cbc8c;
}

.about .row, .workshops .row {
    margin: 0 auto;
    justify-content: center;
    flex-wrap: nowrap;
    width: 90%;
}

.about_col {
    padding: 0 3rem;
}

.about img {
    width: 70%;
}

.workshops {
    background-color: #4cbc8c;
}

.workshops h3 {
    color: white;
}

.workshops h4 {
    color: #21704f;
}

.eventRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    text-align: left;
}

.eventRow a {
    color: #21704f;
}
