
 /* colors:
    #4cbc8c
    #ed9a99
    #fece8a
    #a5a4a4
    #21704f
    #bd3f40 
    */

/* resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    /* outline: 1px solid red; */
}

ul, ol {
    list-style: none;
}

html {
    font-size: 62.5%;
}

@font-face {
  font-family: 'avenir';
  src: url('../assets/fonts/Avenir.ttc'); 
}

@font-face {
  font-family: 'avenirBlack';
  src: url('../assets/fonts/Avenir.ttc'); 
}

@font-face {
  font-family: 'regina';
  src: url('../assets/fonts/ReginaBlack-Solid.ttf');
}

body {
    width: 100%;
    height: 100%;
    font-family: 'avenir', sans-serif;
    font-size: 1.3rem;
    overflow-x: hidden;
    
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
}

a {
    font-size: 2rem;
    font-family: 'bebas-neue-by-fontfabric',sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 5px;
    transition: .2s all ease-out;
}

.row {
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem;
}

header {
    height: 9rem;
    position: fixed;
    top: 0;
    right: 2.5rem;
    left: 2.5rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    margin: 0 auto;
}

header .linkA span:nth-child(2){
    display: none;
}

#logo {
    font-size: 4rem;
    color: #fece8a;
    font-family: 'regina';
    padding: 0;
    letter-spacing: 3px;
}

.linkA, .linkB {
    color: white;
    position: relative;
    border-bottom: 0px solid white;
}

.linkA:after, .linkB:after, .history .sectionContent a:after {
    content: "";
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    border-bottom: 2px solid;
    transition: .2s all ease-out;
}

.history .sectionContent a:after {
    border-bottom: 1px solid;
}
   

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 12.5rem 0;
}


h2 {
    font-family: 'bebas-neue-v14-deprecated',sans-serif;
    font-size: 8rem;
    letter-spacing: 3px;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    border-bottom: .5rem solid #21704f;
}

h3 {
    font-size: 2.6rem;
    color: #4cbc8c;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'regina', serif;
}

h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'avenir black', sans-serif;
}

h5 {
    color: #DA9997;
    font-size: 1.3rem;
    font-family: 'avenir black', sans-serif;
    text-transform: uppercase;
    margin: 1.2rem auto;
    font-weight: 900;
    letter-spacing: 3px;
}

p {
    margin: 2rem auto;
}

.animation_desktop {
    width: 75%;
    align-self: center;
    max-width: 41.5rem;
}

.animation_mobile {
    display: none;
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.intro {
    background-color:  #4cbc8c;
    color: #21704f;
    position: relative;
    min-height: 100vh;
}

.intro .row {
    flex-wrap: wrap;
}

section:not(:first-of-type) > p:first-of-type {
    max-width: 55rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 5rem auto;
}

.intro p {
    margin: 2rem 0;
    max-width: 43rem;
    font-size: 1.5rem;
}

.intro_btns {
    width: 35rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.more.linkB {
    align-self: center;
    position: absolute;
    bottom: 2rem;
    margin-bottom: 2.5rem;
}

/* about section styles */

section:not(:first-of-type) {
    text-align: center;
}

.about h5 {
    margin: 2.6rem auto 0.6rem auto
}

.about p {
    line-height: 2.7rem;
}

.about a {
    color: #4cbc8c;
    border-bottom: 0px solid #4cbc8c;
}

.about .row, .workshops .row {
    margin: 0 auto;
    justify-content: center;
    flex-wrap: nowrap;
    width: 90%;
}

.about .row {
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    flex: 1;
}

.about_col p {
    max-width: 37rem;
}

.about img {
    width: auto;
    height: 20rem;
}

/* bumping this over in order to make is visually centered as there is uneven white space */
.about_col:nth-of-type(3) img {
    transform: translateX(-13px);
}

/* workshops section */

.workshops {
    background-color: #4cbc8c;
}

.workshops h3 {
    color: white;
}

.workshops h4 {
    color: #21704f;
    margin-bottom: 2rem;
}

.eventRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto 2.5rem auto;
    padding: .5rem 2rem;
    text-align: left;
    max-width: 92rem;
    letter-spacing: 1px;
    box-sizing: content-box;
    position: relative;
}

.eventRow .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.eventRow .dateVenueWrapper, .eventRow .locationLinksWrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    /* position: relative; */
}

.eventRow .dateVenueWrapper {
    justify-content: flex-start;
}

.eventRow .locationLinksWrapper {
    justify-content: space-between;
}

.date {
    color: #A44142;
    font-family: 'regina', serif;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.venue {
    text-align: left;
    margin: 2rem 2rem 2rem 3rem;
}

.location {
    color: #A44142;
    font-family: 'avenir black', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

.disabled {
    color: #A3A3A3;
    cursor: not-allowed;
}

.eventRow a {
    font-family: 'bebas-neue-v14-deprecated',sans-serif;
    color: #A44142;
    border-bottom: 0px solid #A44142;
    text-transform: uppercase;
}

.eventRow .locationLinksWrapper button {
    font-family: 'bebas-neue-v14-deprecated',sans-serif;
    color: #a5a4a4;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 5px;
    cursor: default;
    background-color: white;
    transition: .25s all;
}

.hide {
    display: none;
}

/* history section */

.history h3 {
    color: #A44142;
}

.history h5 {
    color: #4cbc8c;
    font-size: 1.5rem;
}

.history a {
    color: #4cbc8c;
    width: 20rem;
    margin: 0 auto;
    font-weight: 100;
}

.history .sectionContent a {
    font-family: 'avenir', sans-serif;
    font-size: 1.3rem;
    color: #4cbc8c;
    letter-spacing: .5px;
    position: relative;
    padding-bottom: 0;
    border-bottom: 0px solid #4cbc8c;
}

.sectionContent {
    margin: 2rem auto;
    width: 90%;
    max-width: 96rem;
    text-align: left;
}

.sectionContent p {
    line-height: 2.3rem;
    letter-spacing: .5px;
}



/* resources section */

.resources {
    background-color: #fece8a;
}

.resources .col {
    align-items: center;
    margin-bottom: 2rem;
}

.resources .col p {
    line-height: 2.3rem;
    max-width: 35rem;
}

.resources h3 {
    color: #155375;
}

.resources h4 {
    color: #A44142;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-align: center;
}

.resources a {
    color: #A44142;
    border-bottom: 2px;
    display: block;
}

.resources > a {
    margin: 5rem auto 0 auto;
    color: #155375;
}

/* sponsors section */

.sponsors h3 {
    color: #4cbc8c;
}

.logos {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.logos a {
    padding: .5rem;
}

.logos a img {
    width: auto;
    max-height: 9.6rem;
    transition: .2s all ease-out;
}

/* footer */

footer {
    background-color: #444545;
    /* height: 30rem; */
    padding: 2.5rem;
}

.footerHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.footerLogo {
    font-size: 4rem;
    color: #4cbc8c;
    font-family: 'regina';
}

footer .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: white;  
}

footer h3 {
    font-size: 1.7rem;
}

.content p {
    margin: 0;
    color: #A3A3A3;
    font-size: 1.1rem;
    font-family: 'avenir', sans-serif;
    letter-spacing: .5px;
}

.content p:nth-of-type(1) {
    color: #ED9A99;
    font-size: 1.4rem;
    width: 45rem;
    margin: .5rem 0 1.5rem 0;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    width: 26rem;
}

footer i {
    color: #ED9A99;
    font-size: 2.5rem;
}

/*        HOVER CHANGES        */

.logos a img:hover, .socialLinks a:hover {
    opacity: .7;
}

.linkA:hover:after, .linkB:hover:after, .history .sectionContent a:hover:after {
    bottom: -.5rem; 
}

.eventRow .locationLinksWrapper button:hover {
    color: #444545;
}



/*        media queries        */

/* tablet */
@media (max-width: 992px) { 

    /* about section queries */
    .about_col h3 {
        font-size: 2.3rem;
        letter-spacing: 2px;
    }

    .about_col h5 {
        font-size: 1.4rem;
    }

    .about a {
        font-size: 1.7rem;
        letter-spacing: 1.5px;
    }

    /* workshop section queries */
    .eventRow {
        width: 85%;
        flex-direction: column;
        align-items: stretch;
        margin: 2rem auto;
        padding: 1.5rem;
        position: relative;
    }

    .venue {
        margin: 2rem 0 .5rem 0;
    }

    .eventRow .dateVenueWrapper,  .eventRow .locationLinksWrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .eventRow .locationLinksWrapper a {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }

    .eventRow .locationLinksWrapper button {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }

    .eventRow .location {
        align-self: flex-start;
    }

    .logos a img {
        margin: 1rem;

    }

}

@media (max-width: 767px) { 

    .intro {
        text-align: center;
    }

    .intro .col {
        align-items: center;
    }

    section:not(:first-of-type) > p:first-of-type {
        padding: 0 2.5rem;
        margin: 3rem auto 4rem auto;
    }

    header .linkA span:nth-child(1){
        display: none;
    }

    header .linkA span:nth-child(2){
        display: block;
    }

    .animation_container {
        display: none;
    }

    .animation_mobile {
        display: block;
        margin-bottom: 5rem;
    }

    header {
        align-items: flex-start;
        top: 2.5rem;
    }

    #logo {
        font-size: 3rem;
        margin-top: -.5rem;
        letter-spacing: .5px;
    }

    .intro_btns {
        width: 100%;
        /* justify-content: center; */
    }

    .about_col {
        flex: auto;
    }

    .about_col:not(:last-child){
        margin-bottom: 9.5rem;
    }

    .eventRow {
        width: 100%;
        box-sizing: border-box;
    }

    .eventRow .locationLinksWrapper div {
        right: 1.5rem
    }

    .date {
        font-size: 1.2rem;
    }

    .venue {
        margin-top: 3rem;
    }

    .socialLinks {
        margin: 3rem auto 0 auto;
        width: 100%;
    }


    .content p:nth-of-type(1) {
        width: 100%;
    }

    .footerLogo {
        font-size: 3rem;
    }

    .sponsors h3 {
        padding: 0 2.5rem;
        font-size: 2.4rem;
    }

    .logos {
        flex-direction: column;
    }
    .logos a img {
        margin: 2rem;
        width: auto;
    }

    /* .intro .row a:nth-child(2) {
        margin-top: 2rem;
    } */
}

    /* for the tiniest of mobile screens */
@media (max-width: 375px) {

    .intro .row a:nth-child(2) {
        margin-top: 1.5rem;
    }

    .intro_btns {
        width: 100%;
        justify-content: center;
    }


    h2 {
        font-size: 7rem;
        letter-spacing: .5px;
    }

    header {
        align-items: center;
        top: 0;
    }

    header .linkA {
        font-size: 1.7rem;
    }
    /* .intro .row a:nth-child(2) {
        margin-top: 1.5rem;
    } */

    .eventRow .locationLinksWrapper div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .eventRow .locationLinksWrapper div a {
        margin: 0 0 .75rem 0;
    }

    .venue {
        margin-top: 5rem;
    }

    .footerHeader .linkA {
        font-size: 1.6rem;
    }

    footer h3 {
        font-size: 1.5rem;
    }
    
}
   
